@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-extrabold/Poppins-ExtraBold.eot');
    src: url('../fonts/poppins-extrabold/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins-extrabold/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/poppins-extrabold/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/poppins-extrabold/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-semibold/Poppins-SemiBold.eot');
    src: url('../fonts/poppins-semibold/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins-semibold/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/poppins-semibold/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/poppins-semibold/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: normal;
}

