/*seciton 1*/
.leftbox1, 
.rightbox1 { width: 536px; background-color: #F8F8F8; display: inline-block;}
.img {display: inline-block;}
.texts {display: inline-block;}
.texts p { width: 260px;}




/*section 2*/
.img2 {width: 352px; height: 212px;}
.texts2 {width: 352px; background-color: #F8F8F8;}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {display: inline-block;}
